<section id="abtme">
    <div class="prose interests-container px-4 py-2">
        <h2 class="interests-title w-full text-center">Acerca de mí</h2>
        <p class="font-medium">
            Soy un apasionado programador autodidacta de 17 años y vivo en Argentina. Me especializo en el desarrollo web y de software. Tengo conocimientos tanto en el Frontend como en el Backend, pero con un principal fuerte en el Backend. 
        </p>
        <p class="font-medium">
            Actualmente estoy realizando mis estudios secundarios mientras trabajo en mi proyecto personal de Freelance, el cual llevo realizando desde finales del año 2023. Busco obtener experiencia laboral y sustentar mis estudios de nivel terciario en un futuro.
        </p>
        <p class="font-medium">
            Estoy siempre expandiendo mi repertorio de herramientas, conociendo nuevos frameworks, librerías y lenguajes de programación. Al final del día. Tengo herramientas preferenciales en las que tengo un mayor nivel de experiencia y conocimiento que me permiten trabajar de manera más eficiente y productiva.
        </p>
    </div>
</section>

<style>
    #abtme {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>