<section id="main">
  <div class="front">
    <div class="front-text">
      <h4 class="front-title">Manuel Badilla Bustelo</h4>
      <p>Desarrollador de <b>software</b> y diseñador de <b>páginas web.</b></p>
    </div>
    <img alt="Web developer" id="dev" src="/web_developer.svg" />
  </div>
</section>

<style>
  #main {
    background: rgb(255, 255, 252);
    flex-direction: column;
    flex-wrap: nowrap;
    display: flex;
    background-position: center top;
    height: 100dvh;
    background-color: #ffffff;
    overflow: hidden;
  }

  .front {
    margin: 5%;
    gap: 5%;
    align-items: center;
    justify-content: center;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  #dev {
      width: 80%;
  }

  .front-text {
    color: #3f3d56;
    font-weight: 400;
    text-wrap: pretty;
  }
  .front-title {
    font-weight: 900;
    font-size: 1rem;
    text-decoration: underline;
    text-decoration-color: #cacaca;
    text-decoration-style: dashed;
    text-decoration-thickness: 5px;
  }

  .front-text {
      font-size: .9rem;
    }

  @media screen and (min-width: 500px) {
    .front-text {
      font-size: 1rem;
    }

    .front-title {
      font-size: 1.4rem;
    }
  }

  @media screen and (min-width: 682px) {
    #dev {
      width: 30%;
    }

    .front {
      flex-direction: row;
    }

    .front-text {
      font-size: 1.4rem;
    }

    .front-title {
      font-size: 1.8rem;
    }
  }

@media screen and (min-width: 1024px) {
  .front-text {
    font-size: 1.6rem;
  }

  .front-title {
    font-size: 2.2rem;
  }
}


</style>
